# Secrets : ne JAMAIS commiter
.env
*.key
*.pem
*.srl
infra/mosquitto/config/password.txt
infra/mosquitto/config/passwd
infra/secrets/*
!infra/secrets/.gitkeep
infra/mosquitto/certs/*.crt
infra/nginx/certs/*.crt
firmware/**/secrets.h
